.favouriteBtn {
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.nonActive {
    background: url("../../../assets/images/favourite_icon.svg") center no-repeat;
}

.active {
    background: url("../../../assets/images/favourite_icon_active.svg") center no-repeat;
}