@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --color-orange: #E97F03;
    --color-grey: #323232;
    --color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

.header__wrapper {
    min-width: 375px;
    padding: 16px 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 200px;
    height: 40px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.search__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 24px;
    order: 1;
    height: 24px;
    margin-right: 8px;
    border: none;
    background: none;
    cursor: pointer;
}

.search__input-text {
    flex: 0 0 168px;
    order: 2;
    height: 24px;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-grey);
}

.search__input-line {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: var(--color-orange);
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.path {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.search__input-text:focus ~ .search__input-line {
    padding: 0 100px;
}

.search__input-text:focus + .search__icon .svg .path {
    fill: var(--color-orange);
}

.icons {
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    text-decoration: none;
}

.icons__link-profile {
    margin-left: 16px;
}

.icon-favourite {
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.non-active {
    background: url("../assets/images/favourite_icon.svg") center no-repeat;
}

.active {
    background: url("../assets/images/favourite_icon_active.svg") center no-repeat;
}

.hide {
    display: none;
    opacity: 0;
    z-index: -100;
}

.loader-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.loader {
    width: 100px;
    height: 100px;
    border: 5px dashed var(--color-orange);
    border-radius: 50%;
}

.loader-active {
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.5);
    }
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #00000043;
    padding: 20px;
}

.modal {
    width: 500px;
    min-width: 300px;
    height: 200px;
    box-shadow: 0 0 10px var(--color-orange);
    border-radius: 8px;
    background-color: var(--color-white);
}

.modal-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid var(--color-orange);
}

.modal-heading-title {
    font-size: 18px;
}

.modal-close-button {
    font-size: 14px;
    border: 2px solid var(--color-orange);
    border-radius: 5px;
    padding: 5px 10px;
    transition-duration: 0.3s;
    cursor: pointer;
}

.modal-close-button:hover {
    color: var(--color-white);
    background-color: var(--color-orange);
}

.modal-text {
    color: var(--color-grey);
    font-size: 14px;
    padding: 20px;
}

@media screen and (min-width: 504px) {
    .header__wrapper {
        padding-bottom: 24px;
    }

    .search {
        flex-basis: 300px;
    }
    
    .search__input-text {
        flex-basis: 268px;
    }
    
    .search__input-text:focus ~ .search__input-line {
        padding: 0 150px;
    }
    
    .search__input-text:focus + .search__icon .svg .path {
        fill: var(--color-orange);
    }
}

@media screen and (min-width: 1448px) {
    .header__wrapper {
        width: 1400px;
        padding: 16px 0 24px;
        margin: 0 auto;
    }

    .search {
        flex-basis: 300px;
    }
    
    .search__input-text {
        flex-basis: 268px;
    }
    
    .search__input-text:focus ~ .search__input-line {
        padding: 0 150px;
    }
    
    .search__input-text:focus + .search__icon .svg .path {
        fill: var(--color-orange);
    }
}



