$color-orange: #E97F03;
$color-grey: #323232;
$color-white: #ffffff;

@mixin transition {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.wrapper {
    min-width: 375px;
    padding: 16px 24px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icons {
            display: flex;
            align-items: center;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 24px;
                height: 24px;
                text-decoration: none;
            }

            .iconProfile {
                margin-left: 16px;
            }
        }
    }
}

@media screen and (min-width: 504px) {
    .wrapper {
        padding-bottom: 24px;

        .container {

            .search {
                flex-basis: 300px;
    
                .searchInput {
                    flex-basis: 268px;
    
                    &:focus ~ .searchLine {
                        padding: 0 150px;
                    }
                    
                    &:focus + .searchIcon .svg .path {
                        fill: $color-orange;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1448px) {
    .wrapper {
        width: 1400px;
        padding: 16px 0 24px;
        margin: 0 auto;

        .container {

            .search {
                flex-basis: 300px;
    
                .searchInput {
                    flex-basis: 268px;
    
                    &:focus ~ .searchLine {
                        padding: 0 150px;
                    }
                    
                    &:focus + .searchIcon .svg .path {
                        fill: $color-orange;
                    }
                }
            }
        }
    }
}