$color-orange: #E97F03;
$color-grey: #323232;

@mixin transition {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 200px;
    height: 40px;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 24px;
        order: 1;
        height: 24px;
        margin-right: 8px;
        border: none;
        background: none;
        cursor: pointer;

        .path {
            @include transition;
        }
    }

    .input {
        flex: 0 0 168px;
        order: 2;
        height: 24px;
        border: none;
        outline: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $color-grey;

        &:focus ~ .line {
            padding: 0 100px;
        }

        &:focus + .icon .svg .path {
            fill: $color-orange;
        }
    }

    .line {
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: $color-orange;
        @include transition;
    }
}

@media screen and (min-width: 504px) {
    .container {
        flex-basis: 300px;

        .input {
            flex-basis: 268px;

            &:focus ~ .line {
                padding: 0 150px;
            }
            
            &:focus + .icon .svg .path {
                fill: $color-orange;
            }
        }
    }
}

@media screen and (min-width: 1448px) {
    .container {
        flex-basis: 300px;

        .input {
            flex-basis: 268px;

            &:focus ~ .line {
                padding: 0 150px;
            }
            
            &:focus + .icon .svg .path {
                fill: $color-orange;
            }
        }
    }
}