$color-orange: #E97F03;
$color-black: #000000;
$color-dark-grey: #323232;

@mixin text {
    margin-bottom: 16px;
    color: $color-black;
}

.wrapper {
    position: relative;
    min-width: 375px;
    padding: 0 24px 24px;

    .container {
        display: flex;
        flex-direction: column;

        .imgContainer {
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;

            .gradientContainer {
                position: absolute;
                width: 100%;
                height: 200px;
                background: -webkit-linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%);
                background: -moz-linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%);
                background: -o-linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%);
                background: linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%);
            }
            
            .img {
                height: 168px;
            }
        }

        .infoContainer {
            display: flex;
            flex-direction: column;

            .title {
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                @include text;
            }
            
            .info {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                @include text;
            }
            
            .detailsTitle {
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                @include text;
            }
            
            .details {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                @include text;
            }
            
            .addToCartContainer {
                display: flex;
                justify-content: space-between;

                .priceContainer {
                    display: flex;
                    flex-direction: column;

                    .price {
                        margin-bottom: 16px;
                        font-weight: 400;
                        font-size: 36px;
                        line-height: 40px;
                        color: $color-orange;
                    }
                }

                .addBtnFavouriteContainer {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .cartBtn {
                        height: 40px;
                        width: 160px;
                        order: 1;
                        border: none;
                        border-radius: 10px;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 28px;
                        color: #FFFFFF;
                        background: $color-orange;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        &:hover {
                            background: #E99330;
                            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                        }

                        .favouriteContainer {
                            align-self: flex-end;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 818px) {
    .wrapper {
        padding: 0 24px 24px;

        .container {
            flex-direction: row;

            .imgContainer {
                min-width: 300px;
                height: 300px;
                border: 1px solid #F2F2F2;
                margin-right: 16px;
                margin-bottom: 0;

                .gradientContainer {
                    display: none;
                }
            }

            .infoContainer {

                .addToCartContainer {
                    justify-content: flex-start;
                    align-items: center;

                    .priceContainer {
                        flex-direction: row;
                        align-items: center;
                        margin-right: 16px;

                        .price {
                            margin: 0 16px 0 0;
                        }
                    
                    }

                    .addBtnFavouriteContainer {
                        flex-direction: row;
                        align-items: center;

                        .cartBtn {
                            margin-right: 16px;
                        }

                        .favouriteContainer {
                            align-self: center;
                            order: 2;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1448px) {
    .wrapper {
        width: 1400px;
        padding: 0;
        margin: 0 auto;
    }
}